@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    color: white;
    /* background-color: black;
    background-image: url('./assets/bg-desktop.png');
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
    backdrop-filter: blur(10px); */
}

.background-style{
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.623)), url('./assets/bg-desktop3.png');
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.center-sphere{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate-arrow{
  animation-duration: 2.5s;
  animation-name: arrowAnimation;
  animation-iteration-count: infinite;
}

@keyframes arrowAnimation{
  0%{
    transform: translateY(30%);
  }
  50%{
    transform: translateY(-30%);
  }
  100%{
    transform: translateY(30%);
  }
}
/* 

@media (max-width: 600px) {

  .header .word {
    height: 30px;
  }

  .word {
    height: 14px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .paragraph {
    margin-bottom: 20px;
  }
} */